
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

.input-group button {
    width: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #eee;
    cursor: pointer;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #0469c7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #013361;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .login-form h2 {
        font-size: 24px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}

.button {
    text-align: center;
}

.button input {
    width: 100%;
    padding: 10px;
    background-color: #54ee69;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button input:hover {
    background-color: #2b6333;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .login-form h2 {
        font-size: 24px;
    }

    .button input {
        font-size: 14px;
    }
}